*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: #333;
    overflow: hidden;
    font-family: sans-serif, 'Arial';
}

.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .btn-confetti{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    font-size: 2em;
    border-radius: 50%;
    border: none;
    transition: transform;
    z-index: -1;
    cursor: pointer;
    box-shadow: 0 7px 0 rgba(160, 160, 160, 160);
}

.btn-confetti:active{
    box-shadow: 0 0 0 rgba(160, 160, 160, 160);
    margin-top: 7px;
}

.container .container-slot{
    position: absolute;
    perspective: 1200px;
    z-index: 101;
}

.container .container-slot div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 100;
    user-select: none;
}